# Aliases for editing config files
alias cfg="git --git-dir=$HOME/.cfg --work-tree=$HOME"
alias cfz="${EDITOR} ${ZDOTDIR}"
alias cfn="${EDITOR} ${HOME}/.config/nvim"
alias cft="${EDITOR} ${HOME}/.config/tmux"
# LS aliases
alias ls="ls --color=auto"
alias ll="ls --color=auto -al"
alias llt="ls --color=auto -alt"
# Tmux Alias
alias tma="tmux attach || tmux"
alias mux="tmuxinator"
# Nvim Aliases
alias vim="nvim"
alias vimdiff='nvim -d'
