# Aliases for editing config files
alias cfg="git --git-dir=${HOME}/.cfg --work-tree=$HOME"
alias cfgz="cfg_edit zsh"
alias cfgn="cfg_edit nvim"
alias cfgt="cfg_edit tmux"
# LS aliases
alias ls="ls --color=auto"
alias ll="ls --color=auto -al"
alias llt="ls --color=auto -alt"
# Tmux Alias
alias tma="tmux attach || tmux"
alias mux="tmuxinator"
# Nvim Aliases
alias vim="nvim"
alias vimdiff='nvim -d'
