@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 14px;
    min-height: 0;
}

#workspaces button.focused {
    color: @green;
    background: @mantle;
}

.modules-center {
    font-style: italic;

}

#cpu,
#memory,
#bluetooth,
#wireplumber,
#network,
#battery,
#clock {
    color: @rosewater;
    padding: 0px 15px;
}

#cpu {}
#memory {}
#bluetooth {}
#wireplumber {}
#network {}
#battery {}
#clock {}
